# Ignore directory
hitachi
nml/app/common/lib/connected_common
build/
pdx/sign
pdx/key
.vscode
target

# Ignore file
*.o
*.pdx
*.zip
*.bin
pdx/source/*/*.odx-f

# Excepd directory
!nml/app/build